div {
  font-family: Arial;
}

.header {
  background-color: rgb(120, 82, 178);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.home-link {
  font-weight: bold;
}

.textbox {
  width: 500px;
  border: none;
  height: 30px;
  padding: 0 20px;
  margin: 12px 0;
  border-radius: 15px;
}

button {
  background-color: rgb(120, 82, 178);
  color: white;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 2px;
  padding: 8px 15px;
}
